body{
    background-image: linear-gradient(to bottom right, #7e00c6, #be4dff)
}

#titre1 {
    text-align: center;
    color: #ff9933;
    font-family: verdana;
    margin-top: 30px;
}


#Réseaux {
    font-size: 20px;
    color: white;
    font-family: fantasy;
    position: fixed;
    right: 10px;
    top: 480px;
    z-index: 900;
    display: flex;
    flex-direction: column;
    background-image: black;
}
#Instagram {
    width: 2.9%;
    position :fixed;
    right:20px;
    bottom : 20px;
}

#Twitter {
    width: 3%;
    border-radius: 10px;
    position : fixed;
    right:67px;
    bottom : 20px;
}

#Discord {
    width: 3%;
    border-radius: 10px;
    position :fixed;
    right:112px;
    bottom : 20px;
}

#Logo {
    width: 7%;
    border-radius: 10px;
    position: absolute;
    top: 1px;
    left: 15px ;
}

#prout {
    font-size: 400px;
    color : aqua
}

#Rocket_League {
    text-align: center;
    color: #ff9933;
    font-family: verdana;
    margin-top : 200px;
}
