body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ************************************************NAV*************************************************** */

#bannière {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
}


#titre1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana;
    font-size: 4em;
    color: rgb(255, 123, 0);
}

#slogan {
    text-align: center;
    font-family: fantasy;
    font-size: 1.2em;
}
#follow {
    color: rgb(241, 0, 0);
    float: right;
    font-size: 1.5em;
    top: 50px;
    right: 40px;
}

#logo {
    width: 7%;
    border-radius: 10px;
    top: 1px;
    left: 15px;
}