body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#7a67e6,#ff7b00);
    min-height: 100vh;
    float: left;
}

.zoom img {
	transform: scale(1);
	transition: .3s ease-in-out;
}

.zoom :hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

a {
    text-decoration: none;
}

/* ************************************************Contenu*************************************************** */

#logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 9%;
}

#hanno {
    background-image: url(./images/Décorations/Fond\ Titre\ \(noir\ et\ jaune.jpg);
    background-size: 110vh;
    float: left;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0,9;
}
#titre1 {
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 4.5rem;
    color: rgb(240, 210, 114);
    margin: 20px auto;
}

#premierTrait {
    height: 2px;
    width: 20%;
    margin: -3px auto;
    background-color: #f1e190;
}

#slogan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-top: 20px;
    letter-spacing: 3px;
}

#titre2 {
    text-decoration: underline;
    font-size: 1.8rem;
}

#texteIntro {
    font-size: 1.2rem;
    margin-right: 40px;
}


#titreMaillot {
    text-decoration: underline;
    font-size: 2.4rem;
}

#maillot {
    display: flex;
}

#maillot a {
    margin-left: 250px;
}

#maillot1 {
    width: 20rem;
    height: 30rem;
    margin-top: 20px;
}

#maillot2 {
    margin-top: 20px;
    width: 20rem;
    height: 30rem;
}

#titre3 {
    text-align: center;
    font-size: 4.6rem;
    font-family: Verdana;
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
}

#deuxiemeTrait {
    height: 2px;
    width: 30%;
    background-color: #ffffff;
    margin: 15px auto;
}

#titre4 {
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

#imageVALO {
    width: 300px;
    height: 450px;
    margin-left: 120px;
}

#imageRL {
    width: 300px;
    height: 450px;
    margin-left: 100px;
}

#imageLOL {
    width: 315px;
    height: 450px;
    margin-left: 100px;
}

#teamPresentation {
    display: flex;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    color: rgb(255, 255, 255);
    margin-bottom: -20px;
}

#valorant {
    margin-left: 200px;
}

#rocketLeague {
    margin-left: 250px;
}

#leagueOfLegends {
    margin-left: 190px;
}

#réseaux {
    background-color: rgb(0, 0, 0);
    display: flex;
}
#réseaux a {
    margin-left: 90px;
}

#contact {
    color: white;
    margin-right: 170px;
    margin-left: 20px;
}

.imgRes {
    width: 30px;
    height: 30px;
    margin-top: 25px;
}

#help {
    float: right;
    color: white;
    margin-top: 27px;
}



#images {
    display: flex;
}
